* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  vertical-align: baseline;
}

a {
  display: block;
}

p a {
  display: inline;
}

li {
  list-style-type: none;
}

html {
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
a,
strong,
blockquote,
i,
b,
u,
em {
  font-size: 1em;
  font-weight: inherit;
  font-style: inherit;
  text-decoration: none;
  color: inherit;
}

blockquote::before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

form,
input,
textarea,
select,
button,
label {
  font-family: inherit;
  font-size: inherit;
  -webkit-hyphens: auto;
      -ms-hyphens: auto;
          hyphens: auto;
  background-color: transparent;
  display: block;
  color: inherit;
}

textarea:focus,
input:focus,
input[type]:focus {
  outline: 0 none;
}

table,
tr,
td {
  border-collapse: collapse;
  border-spacing: 0;
}

svg {
  display: block;
  fill: currentColor;
  pointer-events: none;
}

body {
  font-family: "montserrat";
  font-size: 16px;
  line-height: 24px;
  -webkit-hyphens: auto;
      -ms-hyphens: auto;
          hyphens: auto;
  padding-top: 83px;
  background-color: var(--color-white);
  min-width: 320px;
  max-width: 1920px;
  margin: 0 auto;
}
@media (min-width: 1200px) {
  body {
    padding-top: 100px;
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  --color-white: #ffffff;
  --color-primary: #ee7333;
  --gradient-primary: linear-gradient(180deg, #fca070 0%, #f0651c 80.82%);
  --color-secondary: #1d1d11;
  --gradient-secondary: linear-gradient(180deg, #515151 0%, #1d1d11 49.32%);
  --color-secundBack: #fef9f7;
  --color-grey: #f9f9f9;
  --color-greyText: #767676;
  --color-greyBtn: #d5dbe1;
  --color-footerBG: #111111;
  --color-greyTransparent: rgba(255, 255, 255, 0.3);
  --color-primaryTransparent: rgba(255, 120, 47, 0.3);
}

.header {
  width: 100%;
  height: 83px;
  padding: 25px;
  position: fixed;
  top: 0;
  background-color: var(--color-white);
  z-index: 100;
}
@media (min-width: 1200px) {
  .header {
    height: 100px;
  }
}
.header__logo {
  background-image: url("../../../assets/img/logo-mobile.svg");
  background-repeat: no-repeat;
  width: 72px;
  height: 32px;
}
@media (min-width: 1200px) {
  .header__logo {
    background-image: url("../../assets/img/logo.svg");
    width: 120px;
    height: 55px;
  }
}

.h1 {
  font-size: 31px;
  line-height: 32px;
  font-weight: 700;
}

.h2 {
  font-size: 23px;
  font-weight: 700;
  line-height: 32px;
}

.h3 {
  font-size: 15px;
  font-weight: 700;
  line-height: 21.6px;
  color: var(--color-secondary);
  opacity: 0.6;
}
.h3-white {
  color: var(--color-white);
}

.h4 {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
}

.h5 {
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
}

.btn {
  border: 1.5px solid var(--color-primary);
  text-align: center;
  cursor: pointer;
  font-weight: 600;
  font-size: 16px;
  border-radius: 28px;
  line-height: 18px;
  margin-bottom: 20px;
  color: var(--color-white);
  background-color: var(--color-primary);
}
.btn--gradient {
  width: 191px;
  height: 50px;
  background-color: var(--gradient-primary);
}
.btn--MArrow {
  width: 225px;
  height: 50px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  gap: 15px;
}
.btn--LArrow {
  width: 327px;
  height: 50px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  gap: 15px;
  align-items: center;
}
.btn--LArrow img {
  width: 25px;
  height: 25px;
}
.btn--LArrow img:nth-of-type(2) {
  display: none;
}
.btn--LArrow:hover img:nth-of-type(1) {
  display: none;
}
.btn--LArrow:hover img:nth-of-type(2) {
  display: block;
}
.btn--large {
  width: 327px;
  height: 50px;
  padding: 16px 70px;
}
.btn:hover {
  color: var(--color-primary);
  background-color: var(--color-white);
  border: 1.5px solid var(--color-primary);
}

.px-25 {
  padding-right: 25px;
  padding-left: 25px;
}

.py-30 {
  padding-top: 30px;
  padding-bottom: 30px;
}

.mx-20 {
  margin-right: 20px;
  margin-left: 20px;
}

.mb-40 {
  margin-bottom: 40px;
}

.presentation {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  gap: 0;
  margin-bottom: 167px;
}
@media (min-width: 1200px) {
  .presentation {
    display: flex;
    flex-flow: row-reverse nowrap;
    justify-content: center;
    gap: 0;
  }
}
.presentation__img {
  width: 320px;
  margin: 0 auto;
}
@media (min-width: 1200px) {
  .presentation__img {
    margin-right: 0;
    width: 580px;
  }
}
.presentation__img--elipse {
  width: 330px;
  height: 280px;
  position: absolute;
  margin: 0 auto;
}
.presentation__img--elipse:hover {
  transform: rotate(20deg);
  transition: all 1.8s ease;
}
@media (min-width: 1200px) {
  .presentation__img--elipse {
    width: 575px;
    height: 495px;
  }
}
.presentation__img--dogGirl {
  width: 100%;
  height: 260px;
  position: relative;
  margin-top: 15px;
  margin-left: 13px;
}
.presentation__img--dogGirl:hover {
  transform: scale(1.05);
  transition: all 1.8s ease;
}
@media (min-width: 1200px) {
  .presentation__img--dogGirl {
    width: 565px;
    height: 445px;
    margin-left: 19px;
    margin-top: 35px;
  }
}
@media (min-width: 1200px) {
  .presentation__bloque2 {
    padding-left: 30px;
    max-width: 850px;
  }
}
.presentation__bloque2__title {
  margin-top: 50px;
  margin-bottom: 15px;
  -webkit-hyphens: none;
      -ms-hyphens: none;
          hyphens: none;
}
@media (min-width: 1200px) {
  .presentation__bloque2__title {
    font-size: 72px;
    line-height: 72px;
    font-weight: 700;
    margin-bottom: 25px;
  }
}
.presentation__bloque2__title--dot {
  color: var(--color-primary);
}
.presentation__bloque2__text {
  margin-bottom: 40px;
  -webkit-hyphens: none;
      -ms-hyphens: none;
          hyphens: none;
}
@media (min-width: 1200px) {
  .presentation__bloque2__text {
    font-size: 22px;
    line-height: 28px;
    font-weight: 700;
    max-width: 652px;
    -webkit-hyphens: none;
        -ms-hyphens: none;
            hyphens: none;
    margin-bottom: 80px;
  }
}
.presentation__bloque2__btn {
  width: 100%;
}
.presentation__bloque2__btn--arrow {
  background-image: url("/assets/svg/arrow-circleW.svg");
  -o-object-fit: cover;
     object-fit: cover;
  width: 30px;
  height: 30px;
  background-repeat: no-repeat;
}
.presentation__bloque2__btn--arrow:hover {
  background-image: url("/assets/svg/arrow-circleO.svg");
}

.buttonsContainer {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  gap: 0;
  height: 150px;
  max-width: 600px;
  margin: 0 auto;
}
@media (min-width: 1200px) {
  .buttonsContainer {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    gap: 20px;
    max-width: 700px;
    margin: 0;
  }
}

.section {
  position: relative;
}

.sliderContainer-food {
  margin-left: 25px;
  box-shadow: 0px 14px 37px 19px rgba(126, 126, 126, 0.04);
  position: relative;
  top: -125px;
  border-radius: 20px 0px 0px 20px;
}
@media (min-width: 1200px) {
  .sliderContainer-food {
    margin-right: 40px;
    margin-left: 40px;
    border-radius: 20px;
  }
}

.cardsContainer {
  width: 100%;
  height: 398px;
  background-image: url("/assets/img/bgimage.svg");
  background-repeat: repeat;
  -o-object-fit: cover;
     object-fit: cover;
  padding: 20px;
  background-color: var(--color-white);
  border-radius: 20px 0px 0px 20px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  gap: 20px;
  scrollbar-width: none;
  align-items: flex-start;
  overflow-x: auto;
  overflow-y: hidden;
}
@media (min-width: 1200px) {
  .cardsContainer {
    border-radius: 20px;
  }
}

.cardFood {
  width: 350px;
  white-space: normal;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  gap: 10px;
}
.cardFood:hover {
  transform: scale(1.03);
  transition: all 0.6s ease;
}
.cardFood__img {
  width: 195px;
  background-repeat: no-repeat;
  -o-object-fit: cover;
     object-fit: cover;
  margin: 0 auto;
}
.cardFood__title {
  margin-bottom: 20px;
  text-align: center;
}
.cardFood__text {
  color: var(--color-greyText);
  display: flex;
  -webkit-hyphens: none;
      -ms-hyphens: none;
          hyphens: none;
  text-align: center;
  width: 100%;
  height: 100px;
}
.cardFood__btn {
  background-color: var(--color-greyBtn);
  border: 1.5px solid var(--color-greyBtn);
  margin: 0 auto;
  margin-bottom: 20px;
  display: inline-flex;
  gap: 10px;
  height: 50px;
  width: 150px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  gap: 10px;
  align-items: center;
}
.cardFood__btn img {
  width: 25px;
  height: 25px;
}
.cardFood__btn img:nth-of-type(2) {
  display: none;
}
.cardFood__btn:hover img:nth-of-type(1) {
  display: none;
}
.cardFood__btn:hover img:nth-of-type(2) {
  display: block;
}

.sliderContainer-dog .elipse {
  display: block;
  margin: 0 auto;
  width: 345px;
  height: 330px;
}
@media (min-width: 1200px) {
  .sliderContainer-dog .elipse {
    width: 692px;
    height: 652px;
  }
}
@media (min-width: 1200px) {
  .sliderContainer-dog {
    width: 680px;
    height: 515px;
    margin-left: 40px;
  }
}
.sliderContainer-dog__btn {
  display: none;
}
@media (min-width: 1200px) {
  .sliderContainer-dog__btn {
    display: block;
    width: 50px;
    height: 50px;
    cursor: pointer;
    border-radius: 50%;
    position: absolute;
    margin: 0 auto;
    background-color: var(--color-greyTransparent);
  }
  .sliderContainer-dog__btn--prev {
    top: 35%;
    padding-right: 5px;
    left: 60px;
  }
  .sliderContainer-dog__btn--prev--active {
    background-color: var(--color-primaryTransparent);
    top: 35%;
    left: 60px;
    padding-right: 5px;
  }
  .sliderContainer-dog__btn--next {
    top: 35%;
    left: 650px;
    padding-left: 5px;
  }
  .sliderContainer-dog__btn--next--active {
    background-color: var(--color-primaryTransparent);
    top: 35%;
    left: 650px;
    padding-left: 5px;
  }
}
.sliderContainer-dog .cardsContainer-dog {
  width: 100%;
  height: 398px;
  background-repeat: no-repeat;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  gap: 10px;
  scrollbar-width: none;
  overflow-x: auto;
  margin-top: -307px;
  padding-left: 25px !important;
}
@media (min-width: 1200px) {
  .sliderContainer-dog .cardsContainer-dog {
    padding-left: 0px !important;
    height: 515px;
    margin-top: -570px;
    overflow-x: hidden;
  }
}
.sliderContainer-dog .cardsContainer-dog .card:hover {
  transform: scale(1.03);
  transition: all 0.5s ease;
}
@media (min-width: 1200px) {
  .sliderContainer-dog .cardsContainer-dog .card:hover {
    transform: scale(1);
    transition: all 0.5s ease;
  }
}
.sliderContainer-dog .cardsContainer-dog .card__img {
  width: 328px;
  border-radius: 15px;
  display: block;
  margin: 0 auto;
  height: 272px;
  overflow-y: hidden;
}
@media (min-width: 1200px) {
  .sliderContainer-dog .cardsContainer-dog .card__img {
    width: 680px;
    height: 515px;
    -o-object-fit: cover;
       object-fit: cover;
  }
}

.product {
  background-color: var(--color-secundBack);
  background-image: url("/assets/img/bg-image.png");
}
.product__description {
  margin-bottom: 90px;
  -webkit-hyphens: none;
      -ms-hyphens: none;
          hyphens: none;
}
@media (min-width: 1200px) {
  .product__description {
    max-width: 524px;
    padding-right: 80px;
  }
}
.product__description--title {
  margin-bottom: 20px;
}
@media (min-width: 1200px) {
  .product__description--title {
    margin-top: 100px;
    font-size: 36px;
    line-height: 43.2px;
  }
}
.product__description--text {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 50px;
}
.product__description--btn {
  margin: 0 auto;
  margin-bottom: 20px;
}
.product__functions {
  padding-bottom: 70px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  gap: 0;
}
@media (min-width: 1200px) {
  .product__functions {
    display: flex;
    flex-flow: row-reverse nowrap;
    justify-content: center;
    gap: 0px;
    width: 85%;
    margin: 0 auto;
    margin-top: 150px;
    padding-bottom: 0px;
  }
}
.product__functions--dispositivo {
  background-image: url("../../assets/img/dispositivo.png");
  background-repeat: no-repeat;
  -o-object-fit: cover;
     object-fit: cover;
  margin: 0 auto;
  width: 100%;
  height: 480px;
  background-size: cover;
}
.product__functions--dispositivo:hover {
  transform: scale(1.1);
  transition: all 0.5s ease;
}
@media (min-width: 600px) {
  .product__functions--dispositivo {
    width: 390px;
  }
}
@media (min-width: 1200px) {
  .product__functions--dispositivo {
    background-image: url("../../assets/img/dispositivo-desktop.png");
    width: 900px;
    height: 850px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 0;
    margin-top: 0px;
  }
}
@media (min-width: 800px) {
  .product__functions--dispositivo {
    background-size: contain;
  }
}
.product__functions--benefits {
  padding: 40px;
  width: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: 100%;
  gap: 35px;
}
@media (min-width: 600px) {
  .product__functions--benefits {
    width: 390px;
  }
}
@media (min-width: 1200px) {
  .product__functions--benefits {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-auto-rows: 10%;
    gap: 35px;
    margin-top: 150px;
    width: 305px;
    height: 850px;
    padding: 0px;
    margin-top: 0px;
  }
}
.product__functions--benefits .item {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  gap: 10px;
}
.product__functions--benefits .item:hover {
  transform: scale(1.3);
  transition: all 0.5s ease;
}
@media (min-width: 1200px) {
  .product__functions--benefits .item:hover {
    transform: scale(1.2);
  }
}
@media (min-width: 1200px) {
  .product__functions--benefits .item {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    gap: 15px;
    align-items: center;
    width: 300px;
  }
}
.product__functions--benefits .item__img {
  margin: 0 auto;
  width: 40px;
}
@media (min-width: 1200px) {
  .product__functions--benefits .item__img {
    margin: 0px;
  }
}
.product__functions--benefits .item__title {
  text-align: center;
  -webkit-hyphens: none;
      -ms-hyphens: none;
          hyphens: none;
}
@media (min-width: 1200px) {
  .product__functions--benefits .item__title {
    text-align: start;
    width: 220px;
  }
}

.product-blockContainer {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  gap: 0px;
}
@media (min-width: 1200px) {
  .product-blockContainer {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    gap: 0px;
  }
}

.footer {
  width: 100%;
  background-color: var(--color-footerBG);
  color: var(--color-white);
}
@media (min-width: 1200px) {
  .footer {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    gap: 60px;
    align-items: start;
    padding: 30px;
    padding-top: 50px;
  }
}
.footer__about {
  padding-top: 100px;
  max-width: 700px;
}
@media (min-width: 1200px) {
  .footer__about {
    padding-top: 0px;
    -webkit-hyphens: none;
        -ms-hyphens: none;
            hyphens: none;
    max-width: 380px;
  }
}
.footer__about--title {
  margin-bottom: 20px;
}
.footer__about--text {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  margin-bottom: 50px;
}
.footer__policy {
  margin-bottom: 50px;
}
@media (min-width: 1200px) {
  .footer__policy {
    margin-bottom: 0;
    padding-top: 48px;
  }
}
.footer__policy--title {
  margin-bottom: 10px;
}
.footer__policy--link {
  margin-bottom: 12px;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
}
.footer__policy--link--FAQ {
  display: none;
}
@media (min-width: 1200px) {
  .footer__policy--link--FAQ {
    display: block;
  }
  .footer__policy--link--FAQ:hover {
    color: var(--color-primary);
  }
}
.footer__policy--link:hover {
  color: var(--color-primary);
}
.footer__contact {
  margin-bottom: 50px;
}
@media (min-width: 1200px) {
  .footer__contact {
    display: none;
    padding-top: 48px;
  }
}
.footer__contact--title {
  margin-bottom: 10px;
}
.footer__contact--location {
  margin-bottom: 12px;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
}
.footer__contact--location:hover {
  color: var(--color-primary);
}
.footer__contact--phone {
  margin-bottom: 12px;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
}
.footer__contact--phone:hover {
  color: var(--color-primary);
}
.footer__redes {
  margin-bottom: 40px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  gap: 30px;
}
@media (min-width: 1200px) {
  .footer__redes {
    margin: 0 auto;
    padding-top: 48px;
  }
}
.footer__redes--icon {
  padding: 10px;
  border: 1px solid var(--color-footerBG);
  border-radius: 10px;
}
@media (min-width: 1200px) {
  .footer__redes--icon {
    padding: 2px;
  }
}
.footer__redes--icon:hover {
  box-shadow: 12px 20px 65px 10px rgba(238, 115, 51, 0.4);
  transform: scale(1.2);
  transition: all 0.3s ease;
}
.footer__pay {
  padding-bottom: 150px;
}
@media (min-width: 1200px) {
  .footer__pay {
    padding: 0px;
    padding-top: 48px;
  }
}
.footer__pay--title {
  margin-bottom: 15px;
}
.footer__pay--iconContainer {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  gap: 10px;
}
.footer__pay--iconContainer--icon:hover {
  transform: scale(1.1);
  transition: all 0.3s ease;
}/*# sourceMappingURL=main.css.map */