* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
 
    --color-white: #ffffff;
    --color-primary: #EE7333;
    --gradient-primary: linear-gradient(180deg, #FCA070 0%, #F0651C 80.82%);
    --color-secondary: #1D1D11;
    --gradient-secondary: linear-gradient(180deg, #515151 0%, #1D1D11 49.32%);
    --color-secundBack: #FEF9F7;
    --color-grey: #F9F9F9;
    --color-greyText: #767676;
    --color-greyBtn:  #D5DBE1;
    
  }
