* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  --color-white: #ffffff;
  --color-primary: #ee7333;
  --gradient-primary: linear-gradient(180deg, #fca070 0%, #f0651c 80.82%);
  --color-secondary: #1d1d11;
  --gradient-secondary: linear-gradient(180deg, #515151 0%, #1d1d11 49.32%);
  --color-secundBack: #fef9f7;
  --color-grey: #f9f9f9;
  --color-greyText: #767676;
  --color-greyBtn: #d5dbe1;
  --color-footerBG: #111111;
  --color-greyTransparent: rgba(255, 255, 255, 0.3);
  --color-primaryTransparent: rgba(93, 45, 20, 0.6);
}
