@use '../utils/_mixins';
.footer{
    background-color: var(--color-footerBG);
    color: var(--color-white);
    &__about{
        padding-top: 100px;
        &--title{
            margin-bottom: 20px;
        }
        &--text{
            font-weight: 400;
            font-size: 16px;
            line-height: 22px; 
            margin-bottom: 50px;         
        }
    }
    &__policy{
        margin-bottom: 50px;
        &--title{
            margin-bottom: 10px;
        }
        &--link{
            margin-bottom: 12px;
            font-weight: 400;
            font-size: 16px;
            line-height: 22px;
            &:hover{
                color: var(--color-primary);
            }
        }
    }
    &__contact{
        margin-bottom: 50px;
        &--title{
            margin-bottom: 10px;
        }
        &--location{
            margin-bottom: 12px;
            font-weight: 400;
            font-size: 16px;
            line-height: 22px;
            &:hover{
                color: var(--color-primary);
            }
        }
        &--phone{
            margin-bottom: 12px;
            font-weight: 400;
            font-size: 16px;
            line-height: 22px;
            &:hover{
                color: var(--color-primary);
            }
        }
    }
    &__redes{
        margin-bottom: 40px;
        @include mixins.flexbox(row, nowrap, flex-start, 30px);
        &--icon{
            padding: 10px;
            border: 1px solid var(--color-footerBG);
            
            border-radius: 10px;
            &:hover{
                box-shadow: 12px 20px 65px 10px rgba(238,115,51,0.4);
                transform: scale(1.2);
                transition: all .3s ease;
            }
        }
    }
    &__pay{
        padding-bottom: 200px;
        &--title{
            margin-bottom: 15px;
        }
        &--iconContainer{
            @include mixins.flexbox(row, nowrap, flex-start, 10px);
            &--icon{
            &:hover{
                transform: scale(1.1);
                transition: all .3s ease;
            }
        }
        }
        
    }
}