@use "../utils/_mixins";
.footer {
  width: 100%;
  background-color: var(--color-footerBG);
  color: var(--color-white);
  @media (min-width: 1200px) {
  @include mixins.flexbox(row,nowrap, space-between, 60px);
  align-items: start;
  // grid-template-areas: 'about about about about policy policy redes redes pay pay';
  padding: 30px;
  padding-top: 50px;
  }
  &__about {
    padding-top: 100px;
    max-width: 700px;
    @media (min-width: 1200px) {
      padding-top: 0px;
      hyphens: none;
      max-width: 380px;
      }
    &--title {
      margin-bottom: 20px;
    }
    &--text {
      font-weight: 400;
      font-size: 16px;
      line-height: 22px;
      margin-bottom: 50px;
    }
  }
  &__policy {
    margin-bottom: 50px;
    @media (min-width: 1200px) {
      margin-bottom: 0;
      padding-top: 48px;
      }
    &--title {
      margin-bottom: 10px;
    }
    &--link {
      margin-bottom: 12px;
      font-weight: 400;
      font-size: 16px;
      line-height: 22px;
      &--FAQ{
        display: none;
        @media (min-width: 1200px) {
          display: block;
          &:hover {
            color: var(--color-primary);
          }
          }
      }
      &:hover {
        color: var(--color-primary);
      }
    }
  }
  &__contact {
    margin-bottom: 50px;
    @media (min-width: 1200px) {
      display: none;
      padding-top: 48px;
    }
    &--title {
      margin-bottom: 10px;
    }
    &--location {
      margin-bottom: 12px;
      font-weight: 400;
      font-size: 16px;
      line-height: 22px;
      &:hover {
        color: var(--color-primary);
      }
    }
    &--phone {
      margin-bottom: 12px;
      font-weight: 400;
      font-size: 16px;
      line-height: 22px;
      &:hover {
        color: var(--color-primary);
      }
    }
  }
  &__redes {
    margin-bottom: 40px;
    @include mixins.flexbox(row, nowrap, flex-start, 30px);
    @media (min-width: 1200px) {
      margin: 0 auto;
      padding-top: 48px;
    }
    &--icon {
      padding: 10px;
      border: 1px solid var(--color-footerBG);
      border-radius: 10px;
      @media (min-width: 1200px) {
        padding: 2px;
      }
      &:hover {
        box-shadow: 12px 20px 65px 10px rgba(238, 115, 51, 0.4);
        transform: scale(1.2);
        transition: all 0.3s ease;
      }
    }
  }
  &__pay {
    padding-bottom: 150px;
    @media (min-width: 1200px) {
      padding: 0px;
      padding-top: 48px;
      
    }
    &--title {
      margin-bottom: 15px;
    }
    &--iconContainer {
      @include mixins.flexbox(row, nowrap, flex-start, 10px);
      &--icon {
        &:hover {
          transform: scale(1.1);
          transition: all 0.3s ease;
        }
      }
    }
  }
}
