@use "../utils/_mixins";
.sliderContainer-food {
  margin-left: 25px;
  box-shadow: 0px 14px 37px 19px rgba(126, 126, 126, 0.04);
  position: relative;
  top: -125px;
  border-radius: 20px 0px 0px 20px;
  @media (min-width: 1200px) {
    margin-right: 40px;
    margin-left: 40px;
    border-radius: 20px;
  }
}
.cardsContainer {
  width: 100%;
  height: 398px;
  background-image: url("/assets/img/bgimage.svg");
  background-repeat: repeat;
  object-fit: cover;
  padding: 20px;
  background-color: var(--color-white);
  border-radius: 20px 0px 0px 20px;
  @include mixins.flexbox(row, nowrap, space-between, 20px);
  scrollbar-width: none;
  align-items: flex-start;
  overflow-x: auto;
  overflow-y: hidden;
  @media (min-width: 1200px) {
    border-radius: 20px;
  }
}
.cardFood {
  width: 350px;
  white-space: normal;
  @include mixins.flexbox(column, nowrap, space-around, 10px);
  &:hover {
    transform: scale(1.03);
    transition: all 0.6s ease;
  }
  &__img {
    width: 195px;
    background-repeat: no-repeat;
    object-fit: cover;
    margin: 0 auto;
  }
  &__title {
    margin-bottom: 20px;
    text-align: center;
  }
  &__text {
    color: var(--color-greyText);
    display: flex;
    hyphens: none;
    text-align: center;
    width: 100%;
    height: 100px;
  }
  &__btn {
    background-color: var(--color-greyBtn);
    border: 1.5px solid var(--color-greyBtn);
    margin: 0 auto;
    margin-bottom: 20px;
    display: inline-flex;
    gap: 10px;
    height: 50px;
    width: 150px;
    img {
      width: 25px;
      height: 25px;
    }
    @include mixins.flexbox(row, nowrap, center, 10px);
    align-items: center;
    img:nth-of-type(2) {
      display: none;
    }
    &:hover {
      img:nth-of-type(1) {
        display: none;
      }
      img:nth-of-type(2) {
        display: block;
      }
    }
  }
}
.sliderContainer-dog {
  .elipse {
    display: block;
    margin: 0 auto;
    width: 345px;
    height: 330px;
    @media (min-width: 1200px) {
      width: 692px;
      height: 652px;
    }
  }
  @media (min-width: 1200px) {
    width: 680px;
    height: 515px;
    margin-left: 40px;
  }
  &__btn {
    display: none;
    @media (min-width: 1200px) {
      display: block;
      width: 50px;
      height: 50px;
      cursor: pointer;
      border-radius: 50%;
      position: absolute;
      margin: 0 auto;
      background-color: var(--color-greyTransparent);

      &--prev {
        top: 32%;
        padding-right: 5px;
        left: 60px;
      }
      &--next {
        top: 32%;
        left: 650px;
        padding-left: 5px;
      }
    }
  }
  .cardsContainer-dog {
    width: 100%;
    height: 398px;
    background-repeat: no-repeat;
    @include mixins.flexbox(row, nowrap, space-between, 10px);
    scrollbar-width: none;
    overflow-x: auto;
    margin-top: -307px;
    padding-left: 25px !important;
    @media (min-width: 1200px) {
      padding-left: 0px !important;
      height: 515px;
      margin-top: -570px;
    }
    .card {
      &:hover {
        transform: scale(1.03);
        transition: all 0.5s ease;
        @media (min-width: 1200px) {
          transform: scale(1);
          transition: all 0.5s ease;
        }
      }

      &__img {
        width: 328px;
        border-radius: 15px;
        display: block;
        margin: 0 auto;
        height: 272px;
          overflow-y: hidden;
        @media (min-width: 1200px) {
          width: 680px;
          height: 515px;
          object-fit: cover;
          
        }
      }
    }
  }
}
